<style>
  body {
    background-color: black;
    font-family: sans-serif;
  }

  .select-language {
    position: absolute;
    right: 10px;
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
  }

  a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
  }

  a:hover {
    box-shadow: 0 0 20px #ff073a;
  }

  h1 {
    color: white;
    text-align: center;
    margin-top: 50px;
    box-shadow: 0 0 20px #ff073a;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 347px;
    border-radius: 30px;
    padding: 20px;
  }

  ul {
    display: grid;
    grid-template-columns: auto auto auto;
    list-style-type: none;
    padding: 0;
  }

  li {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border-radius: 160px;
    text-align: center;
    align-items: center;
    height: 350px;
    transition: 0.5s;
  }

  li:hover {
    background-color: gray;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.5s;
  }

  img {
    width: 300px;
    height: 200px;
    border-radius: inherit;
  }

  .price {
    margin: 10px;
  }

  .ad-name {
    margin: 0;
  }

  .tags-title {
    margin: 10px;
  }

  .tags {
    margin: 10px;
  }
</style>
<div class="select-language">
  <% getLocales().forEach(locale => { %>
    <a href="/change-locale/<%= locale %>"><%= locale %></a>&nbsp;
  <% }); %>
</div>

<h1> <%= __('Welcome to') %> <%= title %></h1>
<ul>
  <% adList.forEach(ad => { %>
  <li>
    <img src="<%= `${ad.photo}` %> " alt="">
    <p class="price"> <%= __('Price: ') %><%=`U$D ${ad.price}`%></p cl>
    <h3 class="ad-name"><%= `${ad.adName}` %></h3>
    <h5 class="tags-title">Tags:</h5>
    <p class="tags"><%= `${ad.tags}` %></p>
  </li>
  <% }) %>
</ul>
